body {
	margin: 30px auto;
	padding: 0;
	width: 800px;
	font: 75%/160% Arial, Helvetica, sans-serif;
	color: #333333;
}
code {
	font: 120% "Courier New", Courier, monospace;
	white-space: nowrap;
	color: #6666CC;
}
p {
	margin: 0;
	padding: 0 0 1em;
}
a {
	color: #FF3300;
}
h1 {
	font: bold 260%/100% Arial, Helvetica, sans-serif;
	margin: 0 0 10px;
	padding: 0;
	letter-spacing: -2px;
}
h2 {
	font: normal 140%/130% Arial, Helvetica, sans-serif;
	color: #666666;
}
h3 {
	font: bold 140%/130% Arial, Helvetica, sans-serif;
	color: #000;
	margin: 0;
	padding: 0;

}
h3 a {
    height:40px;
    line-height:40px;
    display:block;
	color: #000;
	text-decoration: none;
}
h3 a:hover {
	color: #FF3300;
}

iframe {
	border-top: solid 1px #999;
	border-left: solid 1px #999;
	border-right: solid 1px #333;
	border-bottom: solid 1px #333;
	margin: 10px 0 20px;
}

.links {
	font-size:0.8em;
}

.box {
    border:2px solid #ccc;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
    -webkit-border-radius: 6px
}

.opacity.dark {
    color:#fff;
}

.textshadow {
    text-shadow: #999 0px 0px 1px;
    /* Use only one filter for IE */
    filter: Shadow(Color=#333333,Direction=135,Strength=1);
}

.opacity.dark {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA9JREFUeNpiYmBgaAAIMAAAjwCD5Hc2/AAAAABJRU5ErkJggg==);
    background:rgba(0, 0, 0, 0.5);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#85000000, endColorstr=#85000000);
}

.opacity.light {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABBJREFUeNpi/v//fyxAgAEACWgDXjXePfkAAAAASUVORK5CYII=);
    background:rgba(255, 255, 255, 0.5);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#85FFFFFF, endColorstr=#85FFFFFF);
}

.opacity.yellow {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABBJREFUeNpi+P9/yxmAAAMACTIDf5NbzpMAAAAASUVORK5CYII=);
    background:rgba(255, 255, 180, 0.8);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#85fffcc0, endColorstr=#85fffcc0);
}

.shadow.dark {
    box-shadow: 0 0 3px #333;
    -moz-box-shadow: 0 0 3px #333;
    -webkit-box-shadow: 0 0 3px #333
}
.shadow.light {
    box-shadow: 0 0 3px #aaa;
    -moz-box-shadow: 0 0 3px #aaa;
    -webkit-box-shadow: 0 0 3px #aaa
}
.shadow.yellow {
    box-shadow: 0 0 3px #fffcc0;
    -moz-box-shadow: 0 0 3px #fffcc0;
    -webkit-box-shadow: 0 0 3px #fffcc0
}

.tooltip {
    z-index:500;
    position:absolute;
    width:480px;
    padding:16px;
}

.tooltip .arrow {
    position:absolute;
    background-image:url('../images/tooltip.png');
}
.tooltip .arrow.left {
    background-position:0 50%;
} 
.tooltip .arrow.left.top {
    background-position:0 0;
} 
.tooltip .arrow.left.bottom {
    background-position:0 100%;
} 
.tooltip .arrow.right {
    background-position:100% 50%;
} 
.tooltip .arrow.right.top {
    background-position:100%  0;
} 
.tooltip .arrow.right.bottom {
    background-position:100%  100%;
} 

.hide {
    display:none;
}